<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Youtube Playlist App</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>

  <div id="react-root">
    <%- react %>
  </div>

  <script src="//code.jquery.com/jquery-2.1.4.js"></script>
  <script src="//fb.me/react-with-addons-0.13.3.js"></script>
  <script src="//fb.me/JSXTransformer-0.13.3.js"></script>

  <script>
    var data = <%- data %>;
  </script>

  <script src="/components.jsx" type="text/jsx"></script>

  </body>
</html>
