select {
  display: block;
  margin: 20px auto;
}

body {
  font-family: arial;
}

.playlists {
  width: 900px;
  margin: auto;
}

.playlist {
  margin-bottom: 20px;
  background: #eee;
}

.playlist-details {
  float: left;
  width: 300px;
  padding: 20px;
}

iframe {
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
